<!DOCTYPE html>
<html>
<head>
    <title>Compilation Result</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Compilation Result</h1>
        <pre><%= result %></pre>
        <a href="/">Go back</a>
    </div>
</body>
</html>
